<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Student List</title>
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
		<h1>Six graders words for the week.</h1>

	
		<p>Study your vocabulary list and definitions for the week</p>
		

        <ul>
            <% data.forEach( studentWordList => { %>
                    <li>class='studentlistItem' data-id='<%= studentWordList.word%>'</li>
                    <span><%= studentWordList.word %></span>
                     <span>	Definition: <%=  studentWordList.definition %></span>
                      
                    </li>
            <% }) %>    
            </ul>

		<button href="/logout">Logout</button>

		<script src="js/main.js"></script>
	</body>
</html>
