<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
		<h1>Six graders word for the week.</h1>

		<%# everything n form is dependent on whats on here %>
		<form action="/vocabulary/createVocabulary" method="POST">
			<input type="text" placeholder="Enter Vocab Item" name="Vocabulary" />
			<input type="text" name="Definition" />
			<input type="submit" />
		</form>
		<p>My page</p>
		<%= data %>

		<button href="/logout">Logout</button>

		<script src="js/main.js"></script>
	</body>
</html>
